@model IEnumerable<v3.Models.NatalidadEntidad>

@{
    ViewBag.Title = "Natalidad";
}

<h2>Natalidad</h2>
 
<table class="table">
    <tr>
        <th>
            País
        </th>
        <th>
             Región
        </th>
        <th>
            Año
        </th>
        <th>
            Población total
        </th>
        <th>
            Tasa de natalidad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Longname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fec_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value_tot_pb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tasa_natalidad)
        </td>
 
    </tr>
}

</table>
